<%- include('partials/header_1.ejs') -%>
<link rel="stylesheet" href="/stylesheets/thanks.css">
<%- include('partials/header_2.ejs') -%>

<div id="landingGrid" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-5 text-center mainColumn">
            <h4>Your message was received successfully</h4>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') -%>